/*h1{
  font-size: 100px;
  position: absolute;
  color: pink;
}*/

.nav {
  text-align: right;
}

.jumbo-img {
  background-image: url('../img/hero.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-attachment: fixed;
}

.jumbo-text {
  margin-top: 80px;
}

/*Developer of the week*/
#DOW{
  margin-top: 50px;
  margin-bottom: 50px;
}

.dow-header{
  margin-bottom: 40px;
}
.DOW {
  width: 150px;
  margin-left: 15px;
  border-radius: 100px;
}

.media-text {
  width: 500px;
}

/*footer*/

.footer{
  background-color: lightgrey;
  height: 100px;
}

.contact-info,
.social {
  margin-top: 20px;
}

.copyright {
  margin-top: 15px;
}
.fine-print {
  margin-top: 15px;
  font-size: 10px;
}

/*media queries*/
@media only screen and (max-width: 500px) {
    body {
        background-image: url('bg2.jpg');
    }
}
